<html>
<head></head>
<body>
<a href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id={{.ChannelID}}&redirect_uri={{.RedirectURL}}&state={{.Random}}&scope=profile%20openid">LINEログインする</a>
</body>
</html>
